#container {
	width : 500;
	height: 400;
	border: 2px solid black;
	position: fixed;
	top: 100px;
	left: 100px;
}

.snake-piece{
	width: 5px;
	height: 5px;
	border: 2px solid black;
	background-color: black;	
	position: absolute;
	top: 0px;
	left: 0px;
}